{% extends 'base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Sites</h1>
        <a href="{{ path('sites') }}" class="d-none d-sm-inline-block btn btn-primary shadow-sm">
            Retour à la liste ...
        </a>
    </div>

    <div class="card shadow">
        <div class="card-header">
            <h4 class="m-0 font-weight-bold text-primary">Site</h4>
        </div>
        <div class="card-body">
            
            

        </div>
    </div>
{% endblock %}
